# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
dist/
build/
.pytest_cache/
.mypy_cache/
.tox/
.coverage
coverage.xml

# Jupyter
.ipynb_checkpoints/

# Environments
venv/
.venv/
env/
.env/
.conda/
*.env



